<html>
	<head>
		<title>Error</title>
	</head>
	<body>
		<h1>Application Error</h1>

		<div>Exception: {{ class }}</div>
		<div>Code: {{ code }}</div>

		<div>Message: {{ message }}</div>

		<div>
			<pre>{{ trace }}</pre>
		</div>
    </body>
</html>