{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block container %}
	<div class="container">
		<div class="starter-template">
			<h1 class="page-header">{{ app.config.brand.name }}</h1>

			<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
		</div>
	</div><!-- /.container -->
{% endblock %}