{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Silex Skeleton App</h1>
</div>

<p class="lead">This is a simple Silex application, setting up the initial the file structure and code I use for small to middle-sized projects.</p>

<ul>
    <li><a href="http://github.com/danielm/silex-skeleton-app">Project Homepage</a></li>
    <li><a href="https://github.com/danielm/silex-skeleton-app/blob/master/README.md">Configuration / Installation / Welp</a></li>
    <li><a href="https://github.com/danielm/silex-skeleton-app/issues">Report Issues</a> or help me out :)</li>
    <li><a href="https://blog.daniel.com.uy/">My Blog</a></li>
    <li><a href="mailto:daniminas@gmail.com">Contact Me</a></li>
</ul>

<hr />

<h3>Example Controller</h3>
<p>
    This is a controller example to show how to setup routes. Use the links bellow to try it out, and see data/routes.json for more info.
</p>
<hr />
<p><a href="{{ path('rand') }}">Click here</a> to pick a Random 1-100 number.</p>
<p><a href="{{ path('rand', {max: 10}) }}">Click here</a> to pick a Random 1-10 number.</p>

{% endblock %}